* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    text-align: center;
    background: var(--bg-1);
    color: var(--txt-1);
}

html {
    --bg-1: #fff;
    --bg-2: #ddd;
    --txt-1: #000;
    --bd: transparent;
    --acc: #9797ff;
    --acc-dark: #7d7dff;
    background: var(--bg-1);
}

@media (prefers-color-scheme: dark) {
    html {
        --bg-1: #171717;
        --bg-2: #272727;
        --txt-1: #fff;
        --bd: #2c2c2c;
        --acc: #7676c8;
        --acc-dark: #6262c8;
    }
}

@media only screen and (max-width: 600px) {
    .hidden-mobile {
        display: none !important;
    }
}

nav {
    width: 100%;
    height: 50px;
    background: var(--acc);
    color: white;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 3px;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav h1 {
    margin-left: 40px;
    margin-right: 30px;
    color: var(--acc-dark);
    font-size: 30px;
    cursor: pointer;
}

.nav-spacer {
    flex-grow: 1;
}

a {
    color: white;
    text-decoration: none;
    padding: 25px 12px;
    font-size: 14px;
    font-weight: bold;
}

a:hover {
    background: var(--acc-dark);
}

a.button.primary {
    border-radius: 5px;
    padding: 10px 15px;
    display: block;
    margin-right: 40px;
    border: 1px solid white;
    background: white;
    color: var(--acc);
}

a.button.secondary {
    border-radius: 5px;
    padding: 10px 15px;
    display: block;
    margin-right: 10px;
    border: 1px solid white;
    background: var(--acc);
    color: white;
}

a.button.secondary:hover {
    background: white;
    color: var(--acc);
}

.header {
    width: calc(100% - 80px);
    background: var(--acc-dark);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 40px;
}

.header p {
    margin-top: 0.75rem;
}


#progress-bar {
    position: relative;
    width: 100%;
    height: 35px;
    margin-top: 20px;
    border-radius: 1.5em;
    background-color: var(--bg-2);
    border: 3px solid lightgrey;
}

#progress-bar-fill {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    background-color: var(--acc);
    transition: width 1s;
    border-radius: 1.5em;
}

.main {
    margin: 50px;
    text-align: left;
}

#start,
#end {
    width: 100px;
    border-radius: 0.5em;
    border: 3px solid var(--acc);
    padding: 2px 4px;
    background-color: var(--bg-2);
    color: var(--txt-1);
}

input:focus {
    outline: none;
    border: 3px solid var(--acc-dark) !important;
}

.input-box {
    margin-bottom: 20px;
}

.input-box p {
    display: inline-block;
}

:disabled {
    cursor: not-allowed !important;
}

#progress-msg {
    margin: 10px;
}

#startButton {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: var(--acc);
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

#startButton:hover {
    background-color: var(--acc-dark);
}
